@media screen and (max-width: 930px) {
  .menu-icon {
    display: block;
    font-size: 45px;
  }

  #menuList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 25px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), 0 0 40px rgba(200, 230, 255, 0.3);
    width: 220px;
    text-align: center;
    padding: 15px 0;
    animation: slideDown 0.4s ease forwards;
    z-index: 20;
  }

  #menuList.active {
    display: flex;
  }

  .navbar a {
    color: #002b55;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }

  .navbar a:hover {
    color: #ffffff;
    text-shadow: 0 0 12px #a3eaff, 0 0 25px #fff;
  }

  .navbar {
    padding: 50px 40px;
  }

  .navbar ul {
    gap: 15px;
  }

  .navbar #logo {
    font-size: 45px;
  }

  .image-section {
    grid-column: 1/11;
    padding: 95px 0 40px 0;
  }

  .image-section img {
    width: 160px;
    height: 160px;
  }

  .text-section {
    margin-top: 5px;
    grid-column: 1/11;
  }

  .text-section .intro {
    font-size: 22px;
    text-align: center;
  }

  .text-section .name {
    font-size: 55px;
    text-align: center;
  }

  .text-section .role {
    font-size: 24px;
    text-align: center;
  }

  .text-section .quote {
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
  }

  .text-section .birth {
    text-align: center;
    font-size: 20px;
  }

  .text-section .age {
    text-align: center;
    font-size: 20px;
  }

  .text-section .about {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
  }

  .footer {
    height: 0;
  }
}

@media screen and (max-width: 588px) {

  #menuList {
    width: 200px;
  }

  .navbar a {
    font-size: 20px;
  }

  .text-section ul {
    gap: 10px;
  }

  .text-section .name {
    font-size: 47px;
  }

  .text-section .quote {
    font-size: 20px;
  }

  .text-section .about {
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {

  #menuList {
    width: 150px;
  }

  .navbar {
    padding: 45px 25px;
  }

  .navbar ul {
    gap: 7;
  }

  .navbar #logo {
    font-size: 40px;
  }

  .menu-icon {
    font-size: 40px;
  }

  .navbar a {
    font-size: 19px;
  }

  .image-section {
    padding: 100px 0 30px 0;
    grid-column: 1/11;
  }

  .text-section .name {
    font-size: 45px;
    text-align: center;
  }

  .text-section .quote {
    font-size: 19px;
  }

  .text-section .about {
    font-size: 18px;
  }

  .footer {
    height: 0;
  }
}

@media screen and (max-width: 420px) {

  #menuList {
    width: 120px;
  }

  .menu-icon {
    font-size: 35px;
  }

  .navbar #logo {
    font-size: 35px;
  }

  .navbar a {
    font-size: 16px;
  }

  .text-section .intro {
    font-size: 19px;
  }

  .text-section .name {
    font-size: 40px;
    text-align: center;
  }

  .text-section .role {
    font-size: 20px;
  }

  .text-section .quote {
    font-size: 20px;
  }

  .text-section .about {
    font-size: 16px;
  }

  .footer {
    height: 0;
  }
}